[submodule "dist/streamdeck-iconpack-system-uicons"]
	path = dist/streamdeck-iconpack-system-uicons
	url = git@github.com:carlo/streamdeck-iconpack-system-uicons.git
[submodule "dist/streamdeck-iconpack-fluentui-system-icons-regular"]
	path = dist/streamdeck-iconpack-fluentui-system-icons-regular
	url = git@github.com:carlo/streamdeck-iconpack-fluentui-system-icons-regular.git
