---
---

@import "{{ site.theme }}";

.project-name {
  font-size: 2.75rem;
  line-height: 1.25;
}

nav {
  border-bottom: 1px solid #eee;
  font-weight: bold;
  padding-bottom: 2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(400px, 50%), auto));
  gap: 1em;
  justify-content: start;
  align-content: start;
}
